<div class="endpage">
  <div class="end-title">
    <p> The End </p>
  </div>

  <div class="end-question">
    <p> What do you want to do ? </p>
  </div>

  <div class="endpage-btns">
    <div class="end-btn">
      <%= link_to "Save Story", edit_story_path %>
    </div>

    <div class="end-btn">
      <%= link_to "New Story", new_story_path %>
    </div>

    <div class="end-btn">
      <%= link_to "Main Menu", root_path %>
    </div>

  </div>
</div>
