<div class="page-global">

    <div class="page-char-stickerss">
    <%= image_tag "#{@story.character.photo}", class: "human-char" %>
    </div>

</div>

<div class="page-text">
  <p class="text"><%= @story_fin %></p>

  <p class="next"><%= link_to "End", end_story_path(@story), class:"btn btn-outline-danger" %></p>

  <p class="previous"><%= link_to "Previous", page5_story_path(@story), class:"btn btn-outline-danger" %></p>
</div>
