<div class="page-global">

</div>

<div class="page-text">
  <%= @story_init %>
   <%= image_tag "#{@story.character.photo}" %>
   <%= image_tag "#{@story.character.photo}" %>
  <%= link_to "Next",  page2_story_path(@story) %>
</div>
