<div class="page-global">
  <div class="page-char-stickers">
    <%= image_tag "#{@story.character.photo}", class: "#{@story.character.typ.downcase}-char" %>
  </div>
</div>

<div class="page-text">
  <p class="text"><%= @story_init %></p>

  <p class="next"><%= link_to "Next", page2_story_path(@story), class:"btn btn-outline-danger" %></p>
</div>
