<div class="page-global">

</div>

<div class="page-text">
  <p class="text"><%= @story_trig %></p>

  <p class="next"><%= link_to "Next", page3_story_path(@story), class:"btn btn-outline-danger" %></p>

  <p class="previous"><%= link_to "Previous", page1_story_path(@story), class:"btn btn-outline-danger" %></p>
</div>
