<div class="page-global">

</div>

<div class="page-text">
  <p class="text"><%= @story_adv2 %></p>

  <p class="next"><%= link_to "Next", page5_story_path(@story), class:"btn btn-outline-danger" %></p>
</div>
