<div class="page-global">
  <div class="page-char-stickers">
      <%= image_tag "#{@story.character.photo}", class: "human-char" %>
    </div>
</div>

<div class="page-text">
  <p class="text"><%= @story_trig %></p>

  <p class="next"><%= link_to "Next", page3_story_path(@story, character2: @character2), class:"btn btn-outline-danger" %></p>

  <p class="previous"><%= link_to "Previous", page1_story_path(@story, character2: @character2), class:"btn btn-outline-danger" %></p>
</div>
