<div class="settings">
  <div class="settings-title">
    <p> Settings </p>
  </div>

  <div class=settings-list>
    <p class="settings-voice">Angela Voice</p>
    <div class="toggle-btn" id="toggle-btn">
      <input type="checkbox">
      <span></span>
    </div>
  </div>

  <p class="back"><%= link_to "Back", root_path, class:"btn btn-danger" %></p>
</div>
