.human-char-page1{
  scale: 50%;
  position: relative;
  bottom: -100px;
  -webkit-animation: ease-in;
  -webkit-animation-delay: 1s;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  }

.human-char-page2{
  scale: 50%;
  position: relative;
  bottom: -75px;
  left: 0;
  }

.human-char-page3{
  scale: 50%;
  position: relative;
  bottom: -100px;
  -webkit-animation: ease-in;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-name: iddle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  }

.human-char-page4{
  scale: 50%;
  position: relative;
  bottom: -100px;
  -webkit-animation: ease-in;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-name: iddle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  }

.human-char-page5{
  scale: 50%;
  position: relative;
  left: 100vh;
  bottom: -100px;
  -webkit-animation: ease-in;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-name: iddle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  }

.human-char-page6{
  scale: 50%;
  position: relative;
  left: 100vh;
  bottom: -100px;
  -webkit-animation: ease-in;
  -webkit-animation-delay: 1s;
  -webkit-animation-name: run-out;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  }




.creature-char-page1{
  scale: 50%;
  position: relative;
  bottom: 75px;
  left: 0;
  }

.creature-char-page2{
  scale: 50%;
  position: relative;
  bottom: 75px;
  left: 65vh;
  -webkit-animation:linear infinite;
  -webkit-animation-name: flying;
  -webkit-animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
}

.creature-char-page3{
  scale: 50%;
  position: relative;
  bottom: 28%;
  left: 65vh;
  -webkit-animation: ease-in;
  -webkit-animation-name: hover;
  -webkit-animation-duration: 7.5s;
  -webkit-animation-iteration-count: infinite;
   }

  .creature-char-page4{
    scale: 50%;
    position: relative;
    bottom: 20%;
    left: 70vh;
    -webkit-animation: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: rush;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
  }

  .creature-char-page5{
    scale: 50%;
    position: relative;
    bottom: -145px;
    left: 10vh;
    -webkit-animation: ease-in;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-name: lying;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  }

  .creature-char-page6{
    scale: 50%;
    position: relative;
    bottom: 75px;
    left: 0;
  }

@-webkit-keyframes flying{
  0% {
    right: 5vh;
  }
  50% {
    right: -60vh;
    scale: 33%;
    bottom: 29%;
  }
  100% {
    right: 5vh;
  }
}


@-webkit-keyframes lying{
  0% {
    transform: translateX(0);
  }
  100%{
    transform: rotate(-90deg);
  }
}


// @-webkit-keyframes falling{
//   0% {
//     transform: rotate(-90deg);
//   }
//   100%{
//     transform: translateY(100%);
//   }
// }

@-webkit-keyframes run {
  0% {
    transform: translateX(0);
    }
  100% {
      transform: translateX(175%);
    }
}


@-webkit-keyframes rush {
  0% {
    bottom: 18%;
    left: 70vh;
    }
  100% {
    bottom: 0%;
    left: 3vh;
    }
}


@-webkit-keyframes run-out {
  0% {
    transform: translateX(0%);
    }
  100% {
      transform: translateX(250%);
    }
}


@-webkit-keyframes iddle {
  0% {
    transform: translateY(0);
    }
  100% {
      transform: translateY(2%);
    }
}

@-webkit-keyframes hover {
  0% {
    bottom: 18%;
    left: 65vh;
  }
  25% {
    left: 55vh;
    scale: 52%;
    bottom: 16%;
  }
  50% {
    left: 45vh;
    scale: 50%;
    bottom: 18%;
  }
  75% {
    left: 55vh;
    scale: 45%;
    bottom: 20%;
  }
  100% {
    bottom: 18%;
    left: 65vh;
  }
}
