.weapon-item-page1{


}

.weapon-item-page2{


}

.weapon-item-page3{
  scale: 20%;
  position: relative;
  bottom: -40px;
  left: 25vh;
}

.weapon-item-page4{
  scale: 20%;
  position: relative;
  bottom: -40px;
  left: 25vh;
}

.weapon-item-page5{
  scale: 20%;
  position: relative;
  bottom: -40px;
  left: 25vh;
}

.weapon-item-page6{
  scale: 20%;
  position: relative;
  bottom: -40px;
  left: 25vh;
}
