.saved-stories-container {
  display: flex;
  justify-content: space-around;
}

.popover__trigger {
  text-decoration: none;
  margin-bottom: 3%;
  padding-right: 10px;
  background-color: $midnight-blue;
  color: white;

  .story-title {
    margin-top: 10px;
    &:hover {
      color: $old-page;
    }
  }
}

.popover {
	display: flex;
  flex-direction: column;
	position: relative;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.popover__menu {
  border: solid 3px $midnight-blue;
	border-radius: $radius;
	list-style-type: none;
	margin: 8px 0;
	min-width: 100%;
	padding: 0.5rem 0;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: 0 2px 3px 0 rgba(63, 63, 68, 0.2);

	transition-property: transform, opacity;
	transition-duration: 200ms;
	transition-timing-function: ease;

	transform: scale(0.9);
	transform-origin: top left;
	display: block;
	opacity: 0;
}

.popover__menu-thing {
  font-family: 'Uncial Antiqua', cursive;
	white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
	button {
		border: 0;
		border-radius: 0;
		width: 100%;
		text-align: left;
		&:hover,
		&:focus {
			background-color: #f1f1f1;
		}
	}
}

.popover--active .popover__menu {
	transform: scale(1);
	display: block;
	opacity: 1;
}

button {
	border-color: #ccc;
	border-radius: $radius;
	cursor: pointer;
}
