.page-1-Forest {
  background-image: asset-url("Forest_dawn.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-2-Forest {
  background-image: asset-url("Forest_noon.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-3-Forest {
  background-image: asset-url("Forest_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-4-Forest {
  background-image: asset-url("Forest_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-5-Forest {
  background-image: asset-url("Forest_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-6-Forest {
  background-image: asset-url("Forest_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-1-Mountain {
  background-image: asset-url("Mountain_dawn.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-2-Mountain {
  background-image: asset-url("Mountain_noon.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-3-Mountain {
  background-image: asset-url("Mountain_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-4-Mountain {
  background-image: asset-url("Mountain_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-5-Mountain {
  background-image: asset-url("Mountain_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-6-Mountain {
  background-image: asset-url("Mountain_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-1-Volcano {
  background-image: asset-url("Volcano_dawn.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-2-Volcano {
  background-image: asset-url("Volcano_noon.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-3-Volcano {
  background-image: asset-url("Volcano_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-4-Volcano {
  background-image: asset-url("Volcano_sunset.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-5-Volcano {
  background-image: asset-url("Volcano_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-6-Volcano {
  background-image: asset-url("Volcano_night.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.page-text {
  background-color: rgba(250, 234, 196, 0.886);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .text {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 200%;
    text-align: center;
  }

  .next {
    font-family: 'Uncial Antiqua', cursive;
    display: block;
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .previous {
    font-family: 'Uncial Antiqua', cursive;
    display: block;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.page-stickers{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.page-char-stickers{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.page-item-stickers{
  height: 55%;
  width: 45%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
}
