// Specific CSS for your home-page
.edit {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/846/790/non_2x/blue-watercolor-night-sky-background-free-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  // padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items:center ;
  input {
    margin-top: 20px;
  }
}

.save {
  font-family: 'Uncial Antiqua', cursive;
  // float: bottom;
  // justify-content: center;
  // margin-top: 15%;
}
.btn-form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
