// Specific CSS for your home-page
.endpage {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/846/790/non_2x/blue-watercolor-night-sky-background-free-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.end-title {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 100px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.end-question {
  font-family: 'Henny Penny', cursive;
  font-size: 80px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.end-btn {
  min-width: 34%;
  margin-left: 12%;
  a {
    background-color:#151a4acf;
    border-radius: 30px;
    width: 396px;
    height: 130px;
    display: flex;
    text-decoration: none;
    color: #FFFA7A;
    font-family: 'Henny Penny', cursive;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 89px;
    margin-bottom: 10%;
  }
}

.endpage-btns {
  display: flex;
  flex-wrap: wrap;
}
