.index {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/846/790/non_2x/blue-watercolor-night-sky-background-free-vector.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.index-title {
  padding-top: 5%;
  font-family: 'Henny Penny', cursive;
  font-size: 100px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

.story-title {
    font-family: 'Henny Penny', cursive;
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.story-title:hover {
  color: #FFFA7A;
}

$radius: 4px;
$accent: #49c5b6;


